.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: black;
  margin-top: 25px;
}
.attribution a {
  text-decoration: none;
}

.card-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.card-title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.rainbow-text {
  background: linear-gradient(45deg, #ff0000, #ff9900, #3399ff, #cc33ff);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.card-img-top {
  width: 300px;
  height: 300px;
  border-radius: 13px;
}

.container-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
  width: auto;
  overflow: hidden;
}

.card {
  padding: 15px;
  color: hsl(0, 0%, 100%);
  border-radius: 19px;
  border: none;
}

.card-body {
  padding: 20px;
}

.animate__pulse {
  animation-duration: 1s;
  animation-iteration-count: 3;
}

@media (max-width: 375px) {
  .card-img-top {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .container-lg {
    max-width: 1440px;
  }
}.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: black;
  margin-top: 25px;
}
.attribution a {
  text-decoration: none;
}

.card-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.card-title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.rainbow-text {
  background: linear-gradient(45deg, #ff0000, #ff9900, #3399ff, #cc33ff);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.card-img-top {
  width: 300px;
  height: 300px;
  border-radius: 13px;
}

.container-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
  width: auto;
  overflow: hidden;
}

.card {
  padding: 15px;
  color: hsl(0, 0%, 100%);
  border-radius: 19px;
  border: none;
}

.card-body {
  padding: 20px;
}

.animate__pulse {
  animation-duration: 1s;
  animation-iteration-count: 3;
}
